/* STEP 1 : resizing fonts */

.html {
  font-size: 62.5%;
}

/* changing the font-size of the html element to 62.5% will make it so that 1rem = 10px. This will make it easier to convert px to rem.
below also changing the default color of the body to dark gray, and the background to cornsilk., and setting the display to block. */
body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  overflow: hidden;
  display: block;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}
