.container-home {
    .text-area {
        position: absolute;
        left: 90px;
        top: 50%;
        transform: translateY(-50%);
        max-height: 90%;
        width: 40%;
    }

    .text-animate {
        position: relative;
        top: 0;
        left: 100px;
        opacity: 0;
        font-family: 'La Belle Aurore', cursive;
    }
    
    h1 {
        color: wheat;
        font-size: 50px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 100px;
            margin-left: 120px;
            opacity: 0;
            animation: rotate 1s linear both;
            animation-delay: 1.4s;
            height: auto;
        }
    }

    h2 {
        color: wheat;
        font-size: 30px;
        margin: 0;
        font-family: 'Roboto';
        font-weight: 400;
        margin-top: 20px;
        margin-bottom: 20px;
        animation: fadeInAnimation 1s 1.8s backwards;
    }
}

.container-home.text-area{
    .flat-button {
        color: goldenrod;
        font-size: 12px;
        font-weight: 400;
        font-family: 'Coolvetica';
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid chocolate;
        margin-top: 25px;
        float: right;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;
    
        &:hover {
          background: orange;
          color: gold;
        }
    }
}