//! FOOTER

.footer {
  background-color: #343a40;
  padding: 0;
  max-height: 0px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social-icons-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin: 0 15px;
  transition: color 0.3s;
  font: Sans-Serif;
}

.icon:hover {
  color: goldenrod;
}

.designer-text {
  color: wheat;
  font-size: 18px;
  margin-bottom: 5px;
}

.copyright-text {
  color: white;
  font-size: 12px;
}
