//! ABOUT ME

.about-page {
  position: relative; 
}

.text-area {
  position: relative;
  max-height: 90%;
  width: 60%;
  color: wheat;

  .text-animate {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    font-family: 'La Belle Aurore';
    transform: translateX(-100%); 
    transition: opacity 0.5s, transform 0.5s; 
  }
}

.h2-container {
  margin-top: 20px; 
}

.image-container {
  position: fixed;
  top: 70%; 
  right: 10%; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 80%;
  padding: 40px;
}

.about-image {
  height: 50%;
  width: auto;
  object-fit: contain;
}
