//! ABOUTME

.text-area {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-50%);
  max-height: 90%;
  width: 40%;
  color: wheat;

  .text-animate {
    position: relative;
    top: 0;
    left: 100px;
    opacity: 0;
    font-family: 'La Belle Aurore';

  }
}

.about-page {
  position: relative; /* Set a relative position for the page */
}

.text-area {
  position: relative;
  max-height: 90%;
  width: 60%;
  color: wheat;

  .text-animate {
    position: relative;
    top: 0;
    left: 100px;
    opacity: 0;
    font-family: 'La Belle Aurore';
  }
}

.h2-container {
  margin-top: 20px; 
}

.image-container {
  position: absolute;
  top: 50%; 
  right: 0; 
  transform: translateY(-50%); 
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 0;
}

.about-image {
  height: 100%;
  width: auto;
  object-fit: contain;
}
